---
http_interactions:
- request:
    method: get
    uri: http://app.360learning.com/api/v1/users/axel.assouline@gmail.com?apiKey=f2baa99894f54555a7477ba82e74de75&company=5e3fcc75ed7c2c8812bfaf95
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"301-nZXQtxFS3YNGFG+ebf5rEhe0ZDk"
    body:
      encoding: UTF-8
      string: '{"_id":"5f5736a14b086e254b475e28","mail":"axel.assouline@gmail.com","firstName":"Axel","lastName":"Assouline","assignedPrograms":1,"paths":[],"certifications":[],"championAchievements":{"coursesPublished":["Champion"],"authoringToolExplored":["Apprenti
        Champion"],"repliesOnOwnActivitiesGiven":[],"positiveReactionsOnOwnContent":[]},"comments":0,"completedPrograms":0,"groups":[],"imageUrl":"https://app.360learning.com/api/medias/user/5f5736a14b086e254b475e28","labels":[],"lastLoginAt":"2020-09-30T15:01:37.267Z","championStatus":"potentialChampion","learnerAchievements":{"reactionsGiven":[],"repliesGiven":[],"coursesPlayed":[]},"managers":[],"messages":0,"publications":0,"reactions":0,"skills":[],"subordinates":[],"toDeactivateAt":"","totalTimeSpentInMinutes":2}'
  recorded_at: Sun, 04 Oct 2020 14:05:35 GMT
recorded_with: VCR 6.0.0
